@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble, .light-bubble {
  transition: 0.35s font-weight,
  0.35s color;
}

.bubble:hover {
  font-weight: 900;
  color: rgb(238, 242, 255);
  cursor: default;
}


.light-bubble:hover {
  font-weight: 900;
  color: rgb(46, 50, 52);
  cursor: default;
}

#skills-container > div {
  background-color: transparent;
  transition: all .2s ease-in-out;
  padding: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border: 1px solid gray;
}

#skills-container > div:hover {
  cursor: pointer;
  z-index: 10;
  border: none;
}

#contacts-container a:hover {
  transform: scale(.85);
  transition: 0.2s all ease-in-out
}

#contacts-container ul {
  list-style-type: disc;
}